# deps
node_modules/

# next
.next/
out/

# misc
.DS_Store
*.log
.env*
!.env.example

# IDE
.vscode/
.idea/

# Next.js generated
next-env.d.ts

# TypeScript incremental build cache
tsconfig.tsbuildinfo
